USE [master]
GO
/****** Object:  Database [BuyCafe.Models.DBModel]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE DATABASE [BuyCafe.Models.DBModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuyCafe.Models.DBModel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BuyCafe.Models.DBModel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuyCafe.Models.DBModel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BuyCafe.Models.DBModel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuyCafe.Models.DBModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuyCafe.Models.DBModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Identity] [int] NOT NULL,
	[Account] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Salt] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Point] [int] NOT NULL,
	[Gender] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Birthday] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Customization] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Point] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerPhone] [nvarchar](50) NULL,
	[OrderStatus] [int] NOT NULL,
	[Type] [int] NULL,
	[Guid] [nvarchar](100) NOT NULL,
	[Table] [int] NULL,
	[TakeTime] [datetime] NULL,
	[TotalAmount] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[TransactionId] [bigint] NULL,
	[Note] [nvarchar](max) NULL,
	[Invoice] [int] NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[invoiceCarrier] [nvarchar](max) NULL,
	[TypeAndNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Salt] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Owners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SortValue] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCustomizations]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCustomizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[CustomizationEnum] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCustomizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2024/9/6 下午 01:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [int] NOT NULL,
	[Point] [int] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[SortValue] [int] NULL,
	[LeftCount] [int] NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[isPoint] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Identity], [Account], [Password], [Salt], [Name], [Phone], [Email], [Birthday], [CreateDate]) VALUES (1, 1, N'fohemployee', N'THJz+XPZIAhkQLaiEiyA9Q==', N'cjpLFp5GZTAAOEitT9tCAQ==', N'外場人員', N'0912345678', N'foh@email.com', CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2024-09-05T16:54:23.487' AS DateTime))
INSERT [dbo].[Employees] ([Id], [Identity], [Account], [Password], [Salt], [Name], [Phone], [Email], [Birthday], [CreateDate]) VALUES (2, 1, N'Green', N'yosN9IGu/4eceMMLp647Uw==', N'qpN3EqN09WKrgzZkzXR9/A==', N'楊小綠', N'0912345678', N'green@email.com', CAST(N'1995-09-21T00:00:00.000' AS DateTime), CAST(N'2024-09-05T16:55:28.533' AS DateTime))
INSERT [dbo].[Employees] ([Id], [Identity], [Account], [Password], [Salt], [Name], [Phone], [Email], [Birthday], [CreateDate]) VALUES (3, 2, N'bohemployee', N'4+iJwWBYsA74HjgHNKt8dA==', N'Wg21bb0vojIJHNb6ams3wA==', N'內場人員', N'0912345678', N'boh@email.com', CAST(N'2000-02-01T00:00:00.000' AS DateTime), CAST(N'2024-09-05T16:56:07.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [Name], [Customization], [Quantity], [Price], [Point], [CreateDate], [ProductId], [ImagePath]) VALUES (1, 1, N'拿鐵咖啡', N'去冰, 加鮮奶油, 換燕麥奶奶', 1, 165, NULL, CAST(N'2024-08-27T14:09:54.547' AS DateTime), 2, N'https://github.com/Xiaoliu0921/BuyCafe/blob/Feature-Add-Product-Models/product/coffee2.png
')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [Name], [Customization], [Quantity], [Price], [Point], [CreateDate], [ProductId], [ImagePath]) VALUES (2, 1, N'摩卡可可', N'', 2, 100, NULL, CAST(N'2024-08-27T14:11:59.093' AS DateTime), 3, N'https://github.com/Xiaoliu0921/BuyCafe/blob/Feature-Add-Product-Models/product/coffee3.png
')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [Name], [Customization], [Quantity], [Price], [Point], [CreateDate], [ProductId], [ImagePath]) VALUES (3, 1, N'雙份濃縮', N'', 2, 200, NULL, CAST(N'2024-08-27T14:18:13.010' AS DateTime), 4, N'https://github.com/Xiaoliu0921/BuyCafe/blob/Feature-Add-Product-Models/product/coffee4.png
')
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CustomerPhone], [OrderStatus], [Type], [Guid], [Table], [TakeTime], [TotalAmount], [CreateDate], [TransactionId], [Note], [Invoice], [InvoiceNumber], [invoiceCarrier], [TypeAndNumber]) VALUES (1, NULL, 1, NULL, N'0e7e4025-c47f-4b5e-a78b-e4a58dce28e2', NULL, NULL, 565, CAST(N'2024-08-27T14:07:03.823' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [CustomerPhone], [OrderStatus], [Type], [Guid], [Table], [TakeTime], [TotalAmount], [CreateDate], [TransactionId], [Note], [Invoice], [InvoiceNumber], [invoiceCarrier], [TypeAndNumber]) VALUES (2, N'0912345678', 2, 1, N'9df7cb47-85ab-447f-9ae8-f40091d71935', 1, NULL, 1170, CAST(N'2024-08-28T12:22:12.720' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name], [SortValue], [CreateDate]) VALUES (2, N'義式咖啡', 2, CAST(N'2024-08-22T12:00:03.627' AS DateTime))
INSERT [dbo].[ProductCategories] ([Id], [Name], [SortValue], [CreateDate]) VALUES (3, N'茶飲', 3, CAST(N'2024-08-22T12:00:39.297' AS DateTime))
INSERT [dbo].[ProductCategories] ([Id], [Name], [SortValue], [CreateDate]) VALUES (4, N'冰沙系列', 4, CAST(N'2024-08-22T12:00:45.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCustomizations] ON 

INSERT [dbo].[ProductCustomizations] ([Id], [ProductId], [Title], [CustomizationEnum], [CreateDate]) VALUES (1, 1, N'冰度', 1, CAST(N'2024-08-23T10:54:41.990' AS DateTime))
INSERT [dbo].[ProductCustomizations] ([Id], [ProductId], [Title], [CustomizationEnum], [CreateDate]) VALUES (2, 2, N'冰度', 1, CAST(N'2024-08-23T10:55:00.473' AS DateTime))
INSERT [dbo].[ProductCustomizations] ([Id], [ProductId], [Title], [CustomizationEnum], [CreateDate]) VALUES (3, 3, N'冰度', 1, CAST(N'2024-08-23T10:55:04.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductCustomizations] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [Point], [ImagePath], [SortValue], [LeftCount], [IsAvailable], [CreateDate], [isPoint]) VALUES (1, 2, N'經典美式咖啡', N'無糖 |  嚴選義式配方豆，使用中烘焙的咖啡豆，口感溫潤豐厚。', 120, NULL, N'https://raw.githubusercontent.com/Xiaoliu0921/BuyCafePublic/main/product/coffee1.png', 1, NULL, 1, CAST(N'2024-08-22T14:05:22.360' AS DateTime), 1)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [Point], [ImagePath], [SortValue], [LeftCount], [IsAvailable], [CreateDate], [isPoint]) VALUES (2, 2, N'拿鐵咖啡', N'無糖 | 採用義式濃縮萃取方式，高壓高溫萃取出帶有奶油質地、豐富Crema的咖啡', 140, NULL, N'https://raw.githubusercontent.com/Xiaoliu0921/BuyCafePublic/main/product/coffee2.png', 2, NULL, 1, CAST(N'2024-08-22T14:06:29.653' AS DateTime), 1)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Description], [Price], [Point], [ImagePath], [SortValue], [LeftCount], [IsAvailable], [CreateDate], [isPoint]) VALUES (3, 2, N'摩卡可可', N'選用頂級法國巧克力粉，與咖啡鮮乳完美調和，每一次啜飲都有極致奢華感受', 150, NULL, N'https://raw.githubusercontent.com/Xiaoliu0921/BuyCafePublic/main/product/coffee3.png', 3, NULL, 1, CAST(N'2024-08-22T14:06:48.223' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Account] ON [dbo].[Employees]
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phone]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Phone] ON [dbo].[Members]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Account] ON [dbo].[Owners]
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductCustomizations]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 2024/9/6 下午 01:32:43 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[ProductCustomizations] ADD  DEFAULT ((0)) FOR [CustomizationEnum]
GO
ALTER TABLE [dbo].[ProductCustomizations] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [isPoint]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductCustomizations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCustomizations_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCustomizations] CHECK CONSTRAINT [FK_dbo.ProductCustomizations_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryId]
GO
USE [master]
GO
